<div class="grid-container-datos-personales">
    <div class="grid-item-avatar-nombres grid-container-avatar-nombres">

        <app-avatar class="grid-item-avatar datos-personales-avatar">
        </app-avatar>

        <div class="grid-item-nombres datos-personales-nombres">
            <h2>Hermenejildo Morales de las Rosas Campos</h2>
            <br>
            <p>Ultra novedosa e interesante profesion </p>
        </div>

    </div>

    <div class="grid-item-sobre-mi datos-personales-sobre-mi">

        <h2>Sobre mi</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis optio ipsa maiores error minima.
            Doloremque, dolor voluptatibus? Voluptate totam quod nobis dolores doloribus autem deserunt? Obcaecati
            voluptas omnis aspernatur magnam?
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut non harum saepe possimus animi nobis minus
            delectus nemo vero, at laborum suscipit ex consequatur enim porro blanditiis eius ratione quia expedita quo
            quas quam consectetur asperiores labore? Facilis, at saepe.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio suscipit nisi harum sint commodi
            assumenda placeat rem officia totam, reprehenderit ab est eum asperiores, odio laboriosam aliquid? Iste
            ratione sint error, nihil impedit ab doloremque! Id officiis facilis veritatis eum excepturi quaerat dicta
            doloribus ea delectus quo nulla asperiores ad rerum ipsa vero, repellendus tenetur corporis, unde molestias
            rem reiciendis magnam voluptates nihil earum. Est soluta illum doloribus suscipit consectetur veritatis
            deleniti laboriosam sit dolores reprehenderit vero mollitia dolorem maiores, adipisci necessitatibus harum
            alias molestiae officiis ad. Qui iusto ullam minima veniam fugiat? Dignissimos velit nobis obcaecati et
            molestias nemo.
        </p>

    </div>

</div>