<div class="app-educacion-container">
    <h2 class="header-educacion">Mis Estudios</h2>
    <div class="grid-container-estudio">
        <div class="grid-item-estudio-institucion-logo">
            <img src="../../../assets/mock_logo.png" alt="imagen default cuando no se cargo logo de empresa">
        </div>
        <div class="grid-item-datos-del-estudio">
            <div>
                <h2>Nombre estudio</h2>
                <p>fechas</p>
            </div>
            <div >
                <h5>Nombre institucion</h5> 
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, nemo! Excepturi sunt minima
                    aliquid rerum esse quod ab, corrupti quo dolor, porro possimus cupiditate vitae nulla veniam quae
                    tempore ratione!</p>

            </div>
</div>