.tarjeta-acerca-de{
    display: grid;
    grid-template-rows: 30rem auto;
    grid-template-areas:
    'banner'
    'datos';

}

app-banner{
    grid-area: banner;
    display: flex;
    justify-content: center;

}

app-datos-personales{
    grid-area: datos;

}
