<h1 mat-dialog-title>Experiencia Edit Form</h1>

    <form [formGroup]="experienciaForm">
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Empresa</mat-label>
                <input matInput formControlName="nombreEmpresa">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ubicacion</mat-label>
                <input matInput formControlName="ubicacion">
            </mat-form-field>
        </div>
    </form>

    <div mat-dialog-action [align]="'end'">
        <button mat-flat-button (click)="onDelete()">Eliminar</button>
        <button mat-raised-button color="warn">Cerrar</button>
        <button mat-raised-button color="primary" (click)="onEdit()">Editar</button>
    </div>

