.header-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    box-shadow: 2px -2px 30px black;

}
#header-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

app-social {}

app-logo-ap {}

.btn-primary {
    size: 13rem;
}