#header-container{
    background-color: grey;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

app-social{

}
app-logo-ap{
}