<div class="app-experiencia-container">
    <h2 class="header-experiencias-laborales">Mis Experiencias laborales</h2>
    <div class="grid-container-experiencia">
        <div class="grid-item-experiencia-logo">
            <img src="../../../assets/logo-yoizen.png" alt="imagen default cuando no se cargo logo de empresa">
        </div>
        <div class="grid-item-experiencia-empresa ">
            <div >
                <h2>Nombre empresa</h2>
                <p>ubicacion</p>
            </div>
            <div >
                <h5>Descripcion puesto</h5> <h6>fechas</h6>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, nemo! Excepturi sunt minima
                    aliquid rerum esse quod ab, corrupti quo dolor, porro possimus cupiditate vitae nulla veniam quae
                    tempore ratione!</p>

            </div>
</div>