.social-container{
    display: flex;
    height: 100%;
    align-items: center;
}
.fa-brands {
    color: rgb(71, 71, 71);
    font-size: 3rem;
    margin: 0px 6px;
    transition-duration: 0.2s;
    padding-top: 0.4rem;
}

.fa-brands:hover {
    color: #000000;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
