.fa-brands {
    color: white;
    font-size: 2rem;
    margin: 0px 6px;
    transition-duration: 0.2s;
    padding-top: 0.4rem;
}

.fa-brands:hover {
    color: #000000;
    font-size: 2.7rem;
    margin: 0px 10px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}