<h1 mat-dialog-title>Experiencia Edit Form</h1>
    <form [formGroup]="experienciaForm">
        <div mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Empresa</mat-label>
                <input matInput formControlName="nombreEmpresa">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ubicacion</mat-label>
                <input matInput formControlName="ubicacion">
            </mat-form-field>
            <mat-dialog-content *ngIf="false">
                <p>prueba</p>
            </mat-dialog-content>
        </div>
    </form>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn">Cerrar</button>
        <button mat-raised-button color="primary" (click)="crearExperienciaLaboral()">Aceptar</button>

    </div>

