<div  class="container">

    <div *ngIf="persona.curriculum.banner" class="row">
        <mat-card class="example-card col-sm-12">
            <mat-card-header>

            </mat-card-header>
            <div class="mat-card-image-banner">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            </div>
            <mat-card-content>
                <div >
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="row avatar-row">
                                <img  [src]="persona.curriculum.banner.avatarImg.fuente" alt="">
                            </div>
                            <div class="row">
                                <h2>{{persona.curriculum.banner.nombrePersona}}</h2>
                                <p>{{persona.curriculum.banner.puestoActual}}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <p>{{persona.curriculum.banner.descripcionPersonal}}</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>EDIT</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div *ngIf="persona.curriculum.experiencias" class="row">
        <mat-card class="col-sm-12">
            <mat-card-title>
                Experiencias Laborales
            </mat-card-title>
            <mat-card-content>
                <div class="container">
                    <ul>
                        <li *ngFor="let experiencia of persona.curriculum.experiencias" class="row">

                            <div style="max-height: 7rem; overflow: hidden;" class="row">
                                
                                    
                                <div *ngIf="experiencia.logoImg.fuente;then content else other_content"></div>
                                    <ng-template #content>
                                        <div style="overflow:hidden;" class="col-sm-2 col-md-4">
                                            <img style="width: 100%;" [src]="experiencia.logoImg.fuente" alt="Logo  empresa">
                                        </div>
                                    </ng-template>

                                    <ng-template #other_content> 
                                        <div style="overflow:hidden;" class="col-sm-2 col-md-4">
                                            <img style="width: 100%;" src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="Logo  empresa">
                                        </div>
                                    </ng-template>

                                <div class="col-sm-10 col-md-8">
                                    <div class="row">
                                        <h2 class="col-9"><b>{{experiencia.nombreEmpresa}}</b></h2>
                                        <button mat-button class="col" (click)="openExperienciaDialog({intencion:'editar',payload:experiencia})">
                                            <mat-icon>edit</mat-icon><span>Editar empresa</span>
                                        </button>
                                    </div>
                                    <span>{{experiencia.tipoJornada}}</span>
                                    <p>{{experiencia.ubicacion}}</p>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm col-md-4"></div>
                                <ul class="col-sm-12 col-md-8">
                                    <li *ngFor="let puesto of experiencia.puestos" >
                                     <div class="row">
                                        <p class="col-9"><b>{{puesto.nombre}}</b></p>
                                        <button mat-button class="col" (click)="openPuestoDialog({intencion:'editar',payload:puesto})">
                                            <mat-icon>edit</mat-icon><span>Editar puesto</span>
                                        </button>
                                     </div>
                                     <p>{{puesto.fechaInicio | date: 'MMM-YYYY' }} / {{puesto.fechaFin | date: 'MMM-YYYY'}}</p>
                                     <p>{{puesto.descripcion}}</p>
                                    </li> 
                                    <button mat-button (click)="openPuestoDialog({intencion:'crear',payload:experiencia})"  class="col-12">
                                        <mat-icon>add</mat-icon><span>Nuevo puesto</span>
                                    </button>
                                 </ul>
                            </div>
                            <div class="row">

                            </div>
                        </li>
                    </ul>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button><mat-icon>remove</mat-icon></button>
                <button mat-button (click)="openExperienciaDialog({intencion:'crear',payload:persona.curriculum})">
                    <mat-icon>add</mat-icon><span>Nueva empresa</span>
                </button>
              </mat-card-actions>
        </mat-card>
    </div>
    
    <div *ngIf="persona.curriculum.estudios" class="row">
        <mat-card class="col-sm-12">
            <mat-card-title>
                Estudios
            </mat-card-title>
            <mat-card-content>
                <div class="container">
                    
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
              </mat-card-actions>
        </mat-card>
    </div>

    <div *ngIf="persona.curriculum.skills" class="row">
    <mat-card class="col-sm-12">
        <mat-card-title >
            Skills
        </mat-card-title>
        <mat-card-content>
            <div class="container">
                
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>EDIT</button>
          </mat-card-actions>
    </mat-card>
    </div>

    <div *ngIf="persona.curriculum.proyectos" class="row">
        <mat-card  class="col-sm-12">
            <mat-card-title>
                Proyectos
            </mat-card-title>
            <mat-card-content>
                <div class="container">
                    
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>EDIT</button>
              </mat-card-actions>
        </mat-card>
    </div>




</div>

<!-- 



 -->