.experiencia-laboral{
    display: grid;
    grid-template-columns:0.25fr 0.75fr;
    grid-template-areas: 'logo experiencia';
    min-height: 17rem;
}

.experiencia-logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem 2rem 2rem 2rem;
}

.t-experiencia-logo{
    object-fit: contain;
    max-width: 20rem;
    max-height: 10rem;
    width: 100%;
}

.experiencia-logo>img{
    object-fit: contain;
    max-width: 20rem;
    max-height: 10rem;
    width: 100%;
}


.experiencia-puestos{
    grid-area: experiencia;
}
