<div class="container t-container">
    <div class="t-header row">
            <h2 class="col-sm t-title">Mis experiencias laborales</h2>
            <button class="col-1" mat-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button class="col-1"  mat-button (click)="crearExperienciaLaboral()">
                <mat-icon>add</mat-icon>
            </button>
    </div>

    
    <ul class="t-content">


        <li *ngFor="let experiencia of experiencias" class="row t-content-item">

            <div class="col-3 t-content-item-logo">
                <div *ngIf="experiencia.logoImg"> 
                    <!-- si la expLaboral tiene  imagen -->
                    <img [src]="experiencia.logoImg.fuente" alt="Logo de empresa">
                </div>
                <div *ngIf="!experiencia.logoImg"> 
                    <!-- si no tiene imagen -->
                    <img [src]="fotoThumbnail" style="max-width: 20rem; max-height:10rem; object-fit: contain;" alt="Logo de empresa generico">
                </div>
            </div>

            <div class="col-9 t-experiencia-empresa">

                <div class="row t-experiencia-empresa-header">
                    <div class="col-sm">
                        <h2>{{experiencia.nombreEmpresa}}</h2>
                    </div>
                    <button mat-button (click)="editarExperienciaLaboral(experiencia)" class="col-1 modify-items">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <p>{{experiencia.ubicacion}}</p>
                </div>

                <div *ngFor="let puesto of experiencia.puestos" class="row t-experiencia-puesto">
                    
                    <div class="puesto-header container">
                        <div class="row">
                            <h4 class="col-sm">{{puesto.nombre}}</h4>
                            <button mat-button class="col-1 modify-items">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <h6>{{puesto.fechaInicio | date}} - {{puesto.fechaFin | date}}</h6>
                            <p>{{puesto.descripcion}}</p>
                        </div>
                    </div>                    
                </div>

                <div class="row">
                    <button mat-stroked-button class="col-sm modify-items">
                        <mat-icon>add</mat-icon><span>Nueva posicion</span>
                    </button>
                </div>

            </div>
        </li>
    </ul>
</div>