header{
    width: 100%;
    height: 8rem;
}
app-header{
    height: 100%;
}
.main-container {
    width: 80%;
    max-width: 1200px;
    margin: 3rem auto 3rem;
    height: 100%;
    display: grid;
    grid-template-areas: "acerca-de" "footer";
    grid-template-rows: auto 10rem;
    grid-gap: 1rem;
}


app-acerca-de {
    grid-area: "acerca-de";
    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 20px;
    overflow: hidden;
}

app-footer {
    grid-area: footer;
}

footer{
    width: 100vw;
    height: 8rem;
}