.grid-container {
    width: 80%;
    margin: 3rem auto 3rem;
    height: 100%;
    display: grid;
    grid-template-areas: "acerca-de""footer";
    grid-template-rows: auto 10rem;
    grid-gap: 1rem;
}


app-acerca-de {
    grid-area: "acerca-de";
    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 20px;
    overflow: hidden;
}

app-footer {
    grid-area: footer;
}