.main-contenedor{
    width: 80%;
    max-width: 1200px;
    margin: 3rem auto 3rem;
    height: 100%;
    display: grid;
    grid-template-areas: "banner" "experiencia" "educacion" "skills" "proyectos";
    grid-template-rows: auto ;
    grid-gap: 3rem;
}
.t-container{
    padding: 3rem 2rem 2rem;
}

.tarjeta{
    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 1.3rem;
    overflow: hidden;
    font-size: 1.3rem;
    background-color: white;
    transition-duration: 0.2s;
}

.tarjeta:hover{
    transition-duration: 0.2s;
    transform: translate(-3px,-2px);
    box-shadow: 1px 1px 5px rgb(199, 199, 199);
}

.t-header{
    position: relative;
    padding: 0rem 2rem 3rem;
    /* padding-left: 10rem; */
    /* display: flex;
    justify-content: space-between; */
    /* justify-content: space-between; */

}



.t-content-item-logo{
    position: relative;

}

.t-content-item-logo>img{
    position: absolute;
    right: 5%;
    top: 0;
    object-fit: contain;
    max-height: 15rem;
    max-width: 15rem;
    width: 100%;
}
li{
    list-style-type: none;
}
li.t-content-item{
    margin: 1rem 0 1rem;
}

app-t-banner{
    grid-area: banner ;
}
app-t-experiencia{
    grid-area: experiencia ;
}
app-t-educacion{
    grid-area: educacion ;
}
app-t-skills{
    grid-area: skills ;
}
app-t-proyectos{
    grid-area: proyectos ;
}