<h2 class="tarjeta-header">Estudios y Certificaciones</h2>
<div class="tarjeta-contenido">
    <div class="contenedor-certificacion">
        <div class="certificacion-logo">
            <img src="../../../assets/mock_logo.png" alt="logo institucion">
        </div>
        <div class="datos-certificacion">
            <h4>Nombre de la institucion</h4>
            <p>titulo conseguido</p>
            <h6>Fecha obtenido/en curso</h6>
        </div>
    </div>
    <div class="contenedor-certificacion">
        <div class="certificacion-logo">
            <img src="../../../assets/mock_logo.png" alt="logo institucion">
        </div>
        <div class="datos-certificacion">
            <h4>Nombre de la institucion</h4>
            <p>titulo conseguido</p>
            <h6>Fecha obtenido/en curso</h6>
        </div>
    </div>
</div>