<div class="contener-datos-personales">
    <div class="seccion-izquierda contenedor-izquierda">

        <app-avatar class="grid-item-avatar estilo-avatar">
        </app-avatar>

        <div class="grid-item-nombres">
            <h2>{{profileName}}</h2>
            <br>
            <p>{{profileJob}}</p>
        </div>

    </div>

    <div class="grid-item-sobre-mi">
        <div class="grid-item-sobre-mi-header">
            <h2>{{aboutMeHeader}}</h2>
            <button class="btn" (click)="editAboutMeParagraph()">Edit</button>
            
        </div>
        
        <p id="about-me-paragraph"  
        >{{aboutMeParagraph}}</p>
        <textarea name="about-me-tetxtarea" id="" cols="60" rows="10" 
        id="about-me-textarea" [ngStyle]="{'display':aboutMeTextAreaDisplayStatus, 'width':'100%'}"></textarea>
    
    
    </div>
    
    
</div>