<div class="tarjeta-acerca-de">
    <div class="banner">
        <img src="{{banner?.bannerImg?.fuente}}" alt="avatar del perfil" id="img-banner">
    </div>
    <div>

        <div class="contener-datos-personales">



            <div class="seccion-izquierda contenedor-izquierda">

                <div class="grid-item-avatar estilo-avatar">
                    <img src="{{banner?.avatarImg?.fuente}}" alt="Avatar del perfil" id="profile-avatar">
                </div>
        
                <div class="grid-item-nombres">
                    <h2>{{banner?.nombrePersona}}</h2>
                    <br>
                    <p>{{banner?.puestoActual}}</p>
                </div>
        
            </div>
        



            <div class="grid-item-sobre-mi">
                
                <div class="grid-item-sobre-mi-header">
                    <h2>{{sobreMiHeader}}</h2>
                    <button class="btn" (click)="editAboutMeParagraph()">Edit</button>
                    
                </div>
                
                <p id="parrafo-sobre-mi"  [ngStyle]="{'display':parrafoSobreMiDisplayStatus}"
                >{{banner?.descripcionPersonal}}</p>
                <textarea name="about-me-tetxtarea" id="" cols="60" rows="10" 
                id="about-me-textarea" [ngStyle]="{'display':sobreMiTextAreaDisplayStatus, 'width':'100%'}" 
                (focusout)="cerrarTextArea()" [(ngModel)]=sobreMiTextAreaContenido></textarea>
            
            
            </div>
            
            
        </div>


    </div>
</div>
