
<div class="main-card-container">
    <h2 class="main-card-item header-skills">Mis Experiencias laborales</h2>
    <div class="main-card-item progress-circle-container">
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
        <app-progress-circle></app-progress-circle>
    </div>
        
            
</div>